
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #FF914D;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 90px;
    height: 45px;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    background: #000;
    color: #E6792A;
    cursor: pointer;
    border-style: none;
}

.nav-login-cart button:active{
    color: #87C25F;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    margin-left: -50px;
    border-radius: 11px;
    font-size: 14px;
    background-color: #E6792A;
    color: #000000;
}
